<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <title>URL Shrinker</title>
</head>
<body>
	<div class="container">
		<h1>URL SHRINKER</h1>
  <form action="" method="POST" class="my-4 form-inline">
    <label class="sr-only" for="fullUrl" >URL</label>
    <input required placeholder="url" type="url"  name="fullUrl" id="fullUrl" class="form-control col mr-2">
    <button type="submit" class="btn btn-success">Shrink</button>
  </form>
  <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Full URL</th>
      <th>Short URL</th>
      <th>Clicks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="http://www.google.com">https://www.google.com</a></th>
      <td><a href="/123456">123456</a></th>
      <td>0</th>
      </tr>
    </tbody>
  </table></div>
  
</body>
</html>